/* website style */

header{
    width: 100%;
    float: left;
    font-family: Georgia, serif;
    text-align: center;
    background-color: cadetblue;
}

nav{
    width: 20%;
    float: left;
}
main{
    width: 60%;
    float: left;
    font-size: large;
    text-align: center;
}
main img{
    width: 250px;
    display: block;
    margin: 0 auto;
}
main p{
    margin-top: 30px;
    text-indent: 25px;
}
footer{
    width: 100%;
    float: left;
    font-size: small;
    font-weight: bold;
    text-align: center;
    background-color: cornsilk;
}
/* website Navigation style */

ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1f1;
}
ul a{
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
/* Navigation Hover style */
li a:hover{
    background-color: #555555;
    color: #f1f1f1;
}
ul{
    border: 1px solid;
}
li{
    text-align: center;
    border-bottom: 1px solid;
}
li:last-child{
    border-bottom: none;
}